#root {
  width: 1244px;
  height: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  padding: 5px;
  margin: 10px;
}

.background {
  width: 1244px;
  height: 800px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.hud-editor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  color: white;
}

.floating-panel {
  position: fixed;
  top: 0px; /* Initial top position */
  left: 0px; /* Initial left position */
  width: 300px;
  min-height: 150px;
  background-color: #313131;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.draggable-bar {
  width: 100%;
  height: 10px;
  background-color: bisque;
  padding: 10px;
  margin-bottom: 1px;
  cursor: grab;
  user-select: none;
}

.content {
  padding: 1px;
}

.content * {
  text-align: left;
  padding: 2px;
  margin: 2px;
}

.content input {
  display: inline;
  width: fit-content;
}

.content button {
  margin: 10px;
}

.item {
  position: absolute;
}